input/definitions/model/calculators/FormulaCalculator.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="FormulaCalculator">
    <xs:sequence>
      <xs:element name="Name"     type="xs:string" minOccurs="0"/>
      <xs:element name="Tag"      type="xs:string" minOccurs="0"/>
      <xs:element name="Formula"  type="xs:string"              />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
