input/definitions/model/calculators/SPhenoCalculator.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="SPhenoCalculator">
  <xs:sequence>
    <xs:element name="Name"     type="xs:string"                     />
    <xs:element name="SLHALine" type="SLHALine" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="SLHALine">
  <xs:sequence>
    <xs:element name="Block" type="xs:string" />
    <xs:element name="Index" type="xs:integer"/>
    <xs:element name="Value" type="xs:string" />
  </xs:sequence>
</xs:complexType>

</xs:schema>
