input/definitions/model/calculators/TreeCalculator.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="TreeCalculator">
  <xs:sequence>
    <xs:element name="InputFileName" type="xs:string"              />
    <xs:element name="InputTreeName" type="xs:string" minOccurs="0"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>
