input/definitions/FeynHiggsCalculator.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="FeynHiggsCalculator">
  <xs:sequence>
    <xs:element name="Name"      type="xs:string"/>
    <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="Name"     type="xs:string"/>
          <xs:element name="Quantity" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

</xs:schema>
