input/definitions/InputFile.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="Model.xsd"/>
<xs:include schemaLocation="Tool.xsd"/>
<xs:include schemaLocation="VerbosityLevel.xsd"/>

<xs:element name="InputFile" type="InputFile"/>

<xs:complexType name="InputFile">
  <xs:sequence>
    <xs:element name="VerbosityLevel" type="VerbosityLevel"/>
    <xs:element name="Model"          type="Model"         />
    <xs:element name="Tool"           type="Tool"          />
  </xs:sequence>
</xs:complexType>

</xs:schema>
