input/definitions/ModelParameter.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="ModelParameter">
  <xs:sequence>
    <xs:element name="Name"       type="xs:string"               />
    <xs:element name="PlotName"   type="xs:string"  minOccurs="0"/>
    <xs:element name="Value"      type="xs:double"  minOccurs="0"/>
    <xs:element name="Error"      type="xs:double"  minOccurs="0"/>
    <xs:element name="LowerBound" type="xs:double"  minOccurs="0"/>
    <xs:element name="UpperBound" type="xs:double"  minOccurs="0"/>
    <xs:element name="Fixed"      type="xs:boolean" minOccurs="0"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>
