input/definitions/tools/OptimizerBase.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="AnalysisTool.xsd"/>

<xs:complexType name="OptimizerBase">
  <xs:complexContent>
    <xs:extension base="AnalysisTool">
      <xs:sequence>
        <xs:element name="NumberOfIterations" type="xs:integer" minOccurs="0"/>
        <xs:element name="AbortCriterion"     type="xs:double"  minOccurs="0"/>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

</xs:schema>
