input/definitions/tools/SimulatedAnnealingOptimizer.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="OptimizerBase.xsd"/>

<xs:complexType name="SimulatedAnnealingOptimizer">
  <xs:complexContent>
    <xs:extension base="OptimizerBase">
      <xs:sequence>
        <xs:element name="InitialTemperature"         type="xs:double" minOccurs="0"/>
        <xs:element name="TemperatureReductionFactor" type="xs:double" minOccurs="0"/>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

</xs:schema>
