input/definitions/tools/plotters/PlotterBase.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="PlotterBase">
  <xs:sequence>
    <xs:element name="LogScaleX"  type="xs:boolean" minOccurs="0"/>
    <xs:element name="LogScaleY"  type="xs:boolean" minOccurs="0"/>
    <xs:element name="LogScaleZ"  type="xs:boolean" minOccurs="0"/>
    <xs:element name="FileFormat" type="xs:string"  minOccurs="0"/>
    <xs:element name="PageFormat" type="xs:string"  minOccurs="0"/>
    <xs:element name="Version"    type="xs:string"  minOccurs="0"/>
    <xs:element name="LogoPath"   type="xs:string"  minOccurs="0"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>
